# Introduction

Guido van Rossum a Dutch Programmer is author of Python Programming Language.

Python is a Interpreter based open source language

Generally used for 

    Web Development - Django, Pyramid, Bottle, Tornado, Flask, web2py
    
    GUI Development - tkInter, PyGObject, PyQt, PySide, Kivy, wxPython
    
    Scientific and Numeric - SciPy, Pandas, IPython
    
    Software Development - Buildbot, Trac, Roundup
    
    System Administration - Ansible, Salt, OpenStack

Anaconda software = python software + around 1000 python packages of data science

Spyder is a powerful interactive development environment(IDE) for python programing language.

# Data Types

a) Integer - int : Positive and Negative whole numbers along with zero.

b) Float - float : Real numbers with floating point representation in which fraction component is denoted by a decimal or scientific notation.

c) Complex - complex : A number with real and imaginary component is represented by (a+bj) where a and b are float/real values, j=sqrt(-1) is imaginary part.

d) String - str : A collection of one or more characters put in single(' '), double(" ") or triple single(''' ''')or double(""" """) quotes.

e) Boolean - bool : Data representation which has only two values True or False.

f) List - list : A ordered collection of one or more data items not necessarily same type put in square brackets.

g) Tuple - tuple : A ordered collection of one or more data items not necessarily same type put in parantheses.

h) Dictionary - dict : An unordered collection of data in key:value pair form. Collection of such pairs are enclosed in curly brackets.

# Exercise - 1 : Define Data Types

### int

In [4]:
a_int = 10

In [29]:
print(a_int)

10

In [5]:
type(a_int)

int

### float

In [6]:
a_float = 12.25

In [28]:
print(a_float)

12.25

In [7]:
type(a_float)

float

### complex

In [8]:
a_comp = 1+2j

In [27]:
print(a_comp)

(1+2j)

In [9]:
type(a_comp)

complex

### str

In [10]:
a_str = 'Hello world'

In [26]:
print(a_str)

Hello world

In [11]:
type(a_str)

str

### bool

In [14]:
a_bool = True

In [25]:
print(a_bool)

True

In [15]:
type(a_bool)

bool

### list

In [16]:
a_list = [1, 2, 3, 'hai']

In [24]:
print(a_list)

[1, 2, 3, 'hai']

In [17]:
type(a_list)

list

### tuple

In [18]:
a_tuple = (5, 6, 7, "Hello")

In [23]:
print(a_tuple)

(5, 6, 7, 'Hello')

In [19]:
type(a_tuple)

tuple

### dict

In [20]:
a_dict = {'one' : 1, 'two' : 2, 'three' : [1, 2, 3]}

In [22]:
print(a_dict)

{'one': 1, 'two': 2, 'three': [1, 2, 3]}

In [21]:
type(a_dict)

dict

## Immutable

Immutable : Once assigned, elements cannot be changes. Tuple, String.

In [35]:
a_tuple

(5, 6, 7, 'Hello')

In [31]:
a_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [36]:
a_str

'Hello world'

In [32]:
a_str[1] = 'p'

TypeError: 'str' object does not support item assignment

## Mutable

Mutalbe : After assignment also elements can be changed. List, Dictionary.

In [34]:
a_list

[1, 2, 3, 'hai']

In [37]:
a_list[3] = 'bye'

In [38]:
a_list

[1, 2, 3, 'bye']

In [39]:
a_dict

{'one': 1, 'two': 2, 'three': [1, 2, 3]}

In [40]:
a_dict['three'] = ['a', 'b']

In [41]:
a_dict

{'one': 1, 'two': 2, 'three': ['a', 'b']}

# Exercise - 2 : Converting one data type to other data type

### 01. Convert int into str

In [43]:
a_int = 10

In [44]:
type(a_int)

int

In [45]:
a1 = str(a_int)

In [46]:
type(a1)

str

### 02. Convert float into str

In [48]:
a_float = 12.32

In [49]:
type(a_float)

float

In [50]:
a2 = str(a_int)

In [51]:
type(a2)

str

### 03. Convert str into int

In [52]:
a_str = '53'

In [53]:
type(a_str)

str

In [54]:
a3 = int(a_str)

In [55]:
type(a3)

int

### 04. Convert str into float

In [56]:
a_str1 = '3.14'

In [57]:
type(a_str1)

str

In [58]:
a4 = float(a_str1)

In [59]:
type(a4)

float

# Exercise 3 : Read Characters from String

In [61]:
a_str = "Hello World!!"

In [62]:
a_str[0]

'H'

In [63]:
a_str[-1]

'!'

In [64]:
a_str[6] == a_str[-7]

True

In [66]:
a_str[1:8]

'ello Wo'

In [67]:
a_str[:8]

'Hello Wo'

In [68]:
a_str[4:]

'o World!!'

In [69]:
for i in a_str:
    print(i)

H
e
l
l
o

W
o
r
l
d
!
!

In [70]:
for i in a_str:
    print(i, end = '')

Hello World!!

In [71]:
word = 'Jython'

In [72]:
print(word)

Jython

In [73]:
word = 'P' + word[1:]

In [74]:
print(word)

Python

# Exercise 4 : Python as Calculator

In [75]:
6 + 3

9

In [76]:
6 - 9

-3

In [77]:
2 * 5

10

In [78]:
5 / 2

2.5

In [79]:
11 // 2

5

In [80]:
19 % 3

1

In [84]:
2 ** 5

32

In [85]:
_ / 2 # _ is previous result

16.0

In [86]:
_

16.0