# List

In [2]:
a_list = [1, 2, 3]

# Exercise 1 - Define List

### list with same data types

In [3]:
emp_name = ['robert', 'nick', 'john', 'mike']

In [12]:
emp_name

['robert', 'nick', 'john', 'mike']

In [5]:
type(emp_name)

list

In [4]:
emp_sal = [1000, 2000, 3000, 4000]

In [13]:
emp_sal

[1000, 2000, 3000, 4000]

In [7]:
type(emp_sal)

list

### list with different data types

In [39]:
emp_name_sal = ['robert', 1000, 'nick', 2000, 'john', 3000, 'mike', 4000]

In [17]:
emp_name_sal

['robert', 1000, 'nick', 2000, 'john', 3000, 'mike', 4000]

In [18]:
type(emp_name_sal)

list

### list might contain list as element (nested list)

In [19]:
emp_name_sal1 = [['robert', 1000], ['nick', 2000], ['john', 3000], ['mike', 4000]]

In [20]:
emp_name_sal1

[['robert', 1000], ['nick', 2000], ['john', 3000], ['mike', 4000]]

In [21]:
type(emp_name_sal1)

list

# Exercise 2 - Read List Elements

In [23]:
emp_name_sal[0]

'robert'

In [24]:
emp_name_sal[2]

'nick'

In [25]:
emp_name_sal[-3]

3000

In [26]:
emp_name_sal[:4]

['robert', 1000, 'nick', 2000]

In [27]:
emp_name_sal[5:]

[3000, 'mike', 4000]

In [28]:
emp_name_sal[2:4]

['nick', 2000]

In [29]:
emp_name_sal1[0]

['robert', 1000]

In [31]:
emp_name_sal1[-1]

['mike', 4000]

In [32]:
emp_name_sal1[0][1]

1000

In [33]:
emp_name_sal1[-1][0]

'mike'

In [34]:
emp_name_sal1[-1][-1]

4000

# Exercise 3 - Manipulating List

### Changing list value

In [40]:
emp_name_sal

['robert', 1000, 'nick', 2000, 'john', 3000, 'mike', 4000]

In [41]:
emp_name_sal[0]

'robert'

In [42]:
emp_name_sal[0]='sampath'

In [43]:
emp_name_sal[0]

'sampath'

In [44]:
emp_name_sal

['sampath', 1000, 'nick', 2000, 'john', 3000, 'mike', 4000]

In [45]:
emp_name_sal[2:4]

['nick', 2000]

In [46]:
emp_name_sal[2:4]=['lakshmi',2100]

In [47]:
emp_name_sal[2:4]

['lakshmi', 2100]

### Adding Elements

In [49]:
emp_name_sal

['sampath', 1000, 'lakshmi', 2100, 'john', 3000, 'mike', 4000]

In [50]:
emp_name_sal = emp_name_sal + ['Helen',5000]

In [51]:
emp_name_sal

['sampath', 1000, 'lakshmi', 2100, 'john', 3000, 'mike', 4000, 'Helen', 5000]

### Deleting Elements

In [52]:
emp_name_sal

['sampath', 1000, 'lakshmi', 2100, 'john', 3000, 'mike', 4000, 'Helen', 5000]

In [53]:
del(emp_name_sal[4:6])

In [54]:
emp_name_sal

['sampath', 1000, 'lakshmi', 2100, 'mike', 4000, 'Helen', 5000]

# Exercise 4: Observe list assignments memory allocations

### Observation 1

In [55]:
x = [1000, 2000, 3000, 4000]

In [56]:
y = x

In [57]:
x

[1000, 2000, 3000, 4000]

In [58]:
y

[1000, 2000, 3000, 4000]

In [59]:
y[0] = 1111

In [60]:
y

[1111, 2000, 3000, 4000]

In [61]:
x

[1111, 2000, 3000, 4000]

### Observation 2

In [62]:
x1 = [1000, 2000, 3000, 4000]

In [63]:
z = list(x1)

In [64]:
x1

[1000, 2000, 3000, 4000]

In [65]:
z

[1000, 2000, 3000, 4000]

In [66]:
z[0] = 2222

In [67]:
z

[2222, 2000, 3000, 4000]

In [69]:
x1

[1000, 2000, 3000, 4000]

# Tuples

In [1]:
a_tuple = (1, 2, 3)

Tuples are like lists but are immutable. Once defined, elements in tuple cannot be changed.

In [2]:
a_tuple[0]

1

In [3]:
a_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

### tuples with same datatype

In [5]:
emp_name = ('robert', 'nick', 'mike', 'harry')

In [6]:
emp_name[0]

'robert'

In [7]:
emp_name[1:3]

('nick', 'mike')

In [9]:
emp_name[:3]

('robert', 'nick', 'mike')

In [10]:
emp_name[1:]

('nick', 'mike', 'harry')

### tuples with different datatypes

In [12]:
emp_name_sal = ('robert', 1000, 'nick', 2000, 'mike', 3000, 'harry', 4000)

In [13]:
emp_name_sal[0]

'robert'

In [14]:
emp_name_sal[2:5]

('nick', 2000, 'mike')

In [15]:
emp_name_sal[2:4]

('nick', 2000)

In [16]:
emp_name_sal[:5]

('robert', 1000, 'nick', 2000, 'mike')

In [17]:
emp_name_sal[5:]

(3000, 'harry', 4000)

### adding elements to tuple

In [18]:
emp_name_sal = emp_name_sal + ('teddy', 5000)

In [19]:
emp_name_sal

('robert', 1000, 'nick', 2000, 'mike', 3000, 'harry', 4000, 'teddy', 5000)

### deleting elements

Tuple 0bject does not support item deletion

In [21]:
del(emp_name_sal[2:4])

TypeError: 'tuple' object does not support item deletion