## https://programiz.com/python-programming/examples

### 1. print hello world

In [2]:
print('Hello World!!')

Hello World!!

### 2. add two numbers

In [7]:
a = int(input('Enter a number a: '))
b = int(input('Enter a number b: '))
c = a + b
print('Sum of %d and %d = %d' % (a, b, c))

Enter a number a: 6
Enter a number b: 5
Sum of 6 and 5 = 11

### 3. find square root

In [10]:
x = int(input('Enter a number x: '))
x_sqrt = x ** 0.5
print(x_sqrt)

Enter a number x: 16
4.0

### 4. calculate area of triangle

In [11]:
# s = (a + b + c) / 2
# area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

In [14]:
a = int(input("Enter length of side a: "))
b = int(input("Enter length of side b: "))
c = int(input("Enter length of side c: "))

s = (a + b + c) / 2
print(s)

area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
print('area of triangle:', area)
print('area of triangle: %0.2f' % area) # rounding upto 2 decimal points

Enter length of side a: 5
Enter length of side b: 6
Enter length of side c: 7
9.0
area of triangle: 14.696938456699069
area of triangle: 14.70

### 5. Solving a quadratic equation a * (x ** 2) + bx + c

In [17]:
# quadratic formula = (-b +/- sqrt(b**2 - 4ac))/2a

In [18]:
import cmath

In [19]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

qud_for1 = (-b + cmath.sqrt(b**2 - 4*a*c))/2*a
qud_for2 = (-b - cmath.sqrt(b**2 - 4*a*c))/2*a

print('The solutions are {0} and {1}'.format(qud_for1, qud_for2))

Enter a: 1
Enter b: 5
Enter c: 6
The solutions are (-2+0j) and (-3+0j)

### 6. swap two variables

In [22]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

print("*****before swapping*****")
print('a:', a)
print('b:', b)

# take temporary variable temp

temp = a
a = b
b = temp

print("*****after swapping*****")
print('a:', a)
print('b:', b)

Enter a: 12
Enter b: 23
*****before swapping*****
a: 12
b: 23
*****after swapping*****
a: 23
b: 12

### 7. generate a random number

In [23]:
import random

In [33]:
x = random.randint(0 , 9)
print(x)

9

### 8. convert kilometers to miles and miles to kilometers

In [34]:
# 1 km = 0.621371 miles

# 1 mile = 1.609344 kms

In [44]:
km = float(input('Enter no. of kms: '))

miles = km * 0.621371

print('\n***** km to miles ******\n')
print('%f km in miles: %f' % (km, miles))
print('%f km in miles: %0.3f' % (km, miles))

miles = float(input('Enter no. of miles: '))

km = miles * 1.609344

print('\n***** miles to km ******\n')
print('%f miles in km: %f' % (miles, km))
print('%0.3f miles in km: %0.3f' % (miles, km))

Enter no. of kms: 5.5

***** km to miles ******

5.500000 km in miles: 3.417540
5.500000 km in miles: 3.418
Enter no. of miles: 3.523

***** miles to km ******

3.523000 miles in km: 5.669719
3.523 miles in km: 5.670

### 9. convert celsius to fahrenheit and fahrenheit to celsius

In [46]:
cel = float(input('Enter celsius: '))

far = (9 / 5) * cel + 32

print('***** celsius to fahrenheit *****')
print('%f celsius in fahrenheit: %f' % (cel, far))
print('%f celsius in fahrenheit: %0.3f' % (cel, far))

far = float(input('Enter fahrenheit: '))

cel = (5 / 9) * (far - 32)

print('***** fahrenheit to celsius *****')
print('%f fahrenheit in celsius: %f' % (far, cel))
print('%f fahrenheit in celsius: %0.3f' % (far, cel))

Enter celsius: 12
***** celsius to fahrenheit *****
12.000000 celsius in fahrenheit: 53.600000
12.000000 celsius in fahrenheit: 53.600
Enter fahrenheit: 12
***** fahrenheit to celsius *****
12.000000 fahrenheit in celsius: -11.111111
12.000000 fahrenheit in celsius: -11.111

### 10. check number is positive, negative or zero

In [59]:
num = int(input('Enter a number: '))

if num > 0:
    print('%d is positive number' % num)

elif num < 0:
    print('%d is negative number' % num)

else:
    print('%d is zero' % num)

Enter a number: -12
-12 is negative number

### 11. check number is odd or even

In [60]:
num = int(input('Enter a number: '))

if num <= 0:
    print('Enter positive number')
    
elif num % 2 == 0:
    print('%d is even number' % num)

else:
    print('%d is odd number' % num)

Enter a number: 379
379 is odd number

### 12. check leap year

To determine whether a year is a leap year, follow these steps: 
    
    a) If the year is evenly divisible by 4, go to step 2. Otherwise, go to step 5.
    
    b) If the year is evenly divisible by 100, go to step 3. Otherwise, go to step 4.
    
    c) If the year is evenly divisible by 400, go to step 4. Otherwise, go to step 5.
    
    d) The year is a leap year (it has 366 days).
    
    e) The year is not a leap year (it has 365 days).

In [66]:
year = int(input('Enter year: '))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('%d is a leap year' % year)
        
        else:
            print('%d is not a leap year' % year)
    
    else:
        print('%d is a leap year' % year)

else:
    print('%d is not a leap year' % year)

Enter year: 2001
2001 is not a leap year

### 13. find the largest of three numbers

In [77]:
a = int(input("Enter length of side a: "))
b = int(input("Enter length of side b: "))
c = int(input("Enter length of side c: "))

if a == b and b == c:
    print('a = b = c = %d are same' %a)

elif a > b and a > c:
    print('a = %d is largest' % a)

elif b > a and b > c:
    print('b = %d is largest' % b)

else:
    print('c = %d is largest' % c)

Enter length of side a: 5
Enter length of side b: 6
Enter length of side c: 7
c = 7 is largest

### 14. check prime number

In [84]:
num = int(input('Enter num: '))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print('%d is not prime' % num)
            print('{0} times of {1} is {2}'.format(i, num//i, num))
            break
            
    else:
        print('%d is prime' % num)

else:
    print('%d is not prime' % num)

Enter num: 23
23 is prime

### 15. print all prime numbers between given intervals

In [4]:
srt = int(input('Enter start of the interval: '))
stp = int(input('Enter stop of the interval: '))

for i in range(srt, stp + 1):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        
        else:
            print(i)

Enter start of the interval: 2
Enter stop of the interval: 33
2
3
5
7
11
13
17
19
23
29
31