# Iterable

Iterable is an object with an associated iter() method.

Eg: lists, strings, tuples, dictionaries, range object and file connections.

Applying iter() to an iterable creates an iterator.

# Iterator

a) Produces next value with next().

b) It is simple and faster than for loop.

# Exercise 1 : List Iterator

In [1]:
names = ['robert', 'jackson', 'nick', 'harry']

In [3]:
print('*****01 For Loop Output*****')
for i in names:
    print(i)

*****01 For Loop Output*****
robert
jackson
nick
harry

In [4]:
print('*****02 Replicates for Loop Output with list_iterator Output*****')
avoid_for = names.__iter__()
print(type(avoid_for))
print(next(avoid_for))
print(next(avoid_for))
print(next(avoid_for))
print(next(avoid_for))

*****02 Replicates for Loop Output with list_iterator Output*****
<class 'list_iterator'>
robert
jackson
nick
harry

# Exercise 2 - Range Iterator

In [5]:
print('*****01 For Loop Output*****')
for i in range(5):
    print(i)

*****01 For Loop Output*****
0
1
2
3
4

In [7]:
print('*****02 Replicate for loop output with range_iterator output*****')
range_iterator = iter(range(5))
print(type(range_iterator))
print(next(range_iterator))
print(next(range_iterator))
print(next(range_iterator))
print(next(range_iterator))
print(next(range_iterator))

*****02 Replicate for loop output with range_iterator output*****
<class 'range_iterator'>
0
1
2
3
4

# Exercise 3 - String Iterator

In [14]:
a_str = 'Python'

In [15]:
a_str_iter = a_str.__iter__()

In [16]:
next(a_str_iter)

'P'

In [17]:
next(a_str_iter)

'y'

In [18]:
next(a_str_iter)

't'

In [19]:
next(a_str_iter)

'h'

In [20]:
next(a_str_iter)

'o'

In [21]:
next(a_str_iter)

'n'

# Exercise 4 - Tuple Iterator

In [22]:
a_tuple = (10, 20, 30)

In [23]:
a_tuple_iter = iter(a_tuple)

In [24]:
next(a_tuple_iter)

10

In [25]:
next(a_tuple_iter)

20

In [26]:
next(a_tuple_iter)

30

In [27]:
next(a_tuple_iter)

StopIteration:

# Exercise 5 - Dictionary Iterator

In [28]:
a_dict = {1 : 'robert', 2 : 'jackson', 3 : 'harry'}

In [29]:
a_dict_iter = iter(a_dict)

In [30]:
next(a_dict_iter)

1

In [31]:
next(a_dict_iter)

2

In [32]:
next(a_dict_iter)

3

In [33]:
next(a_dict_iter)

StopIteration:

# Exercise 6 - Use iterators as function arguments

In [34]:
range_object = range(10, 21)

In [35]:
print(type(range_object))

<class 'range'>

In [36]:
print(range_object)

range(10, 21)

In [37]:
range_object_list = list(range_object)

In [38]:
print(range_object_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [39]:
range_object_list_max = max(range_object)

In [40]:
print(range_object_list_max)

20

# Exercise 7 - Enumeration Function

Enumerate function returns an enumerate object that produces a sequence of tuples, and each of the tuples is an index-value pair.

In [46]:
DataScience = ['PYTHON', 'MATH', 'STATS', 'ML', 'AI']

In [47]:
print('*****01 enumerate() function creates enumerate object*****')
print(enumerate(DataScience))

*****01 enumerate() function creates enumerate object*****
<enumerate object at 0x00000000051C3510>

In [48]:
print('*****02 Create a list of tuples*****')
DataScience_list = list(enumerate(DataScience))
print(type(DataScience_list))
print(DataScience_list)

*****02 Create a list of tuples*****
<class 'list'>
[(0, 'PYTHON'), (1, 'MATH'), (2, 'STATS'), (3, 'ML'), (4, 'AI')]

In [49]:
print('*****03 Unpack and print the tuple pairs*****')
for index, value in enumerate(DataScience):
    print(index, value)

*****03 Unpack and print the tuple pairs*****
0 PYTHON
1 MATH
2 STATS
3 ML
4 AI

In [50]:
print('*****04 Unpack and print the tuple pairs with given start index*****')
for i, v in enumerate(DataScience, start = 1):
    print(i, v)

*****04 Unpack and print the tuple pairs with given start index*****
1 PYTHON
2 MATH
3 STATS
4 ML
5 AI

# Exercise 8 - Zip Function

zip() function creates zip object.

zip object is an iterator of tuples.

To print values of zip object, convert it into a list and then print.

In [51]:
std_no = (10, 20, 30)

In [52]:
std_name = ('robert', 'jackson', 'harry')

In [53]:
std_marks = (100, 200, 300)

In [54]:
std_data = zip(std_no, std_name, std_marks)

In [55]:
print('*****01 Print the list of tuples create by zip function*****')
print(type(std_data))
print(std_data)
print(list(std_data))

*****01 Print the list of tuples create by zip function*****
<class 'zip'>
<zip object at 0x00000000051BB988>
[(10, 'robert', 100), (20, 'jackson', 200), (30, 'harry', 300)]

In [56]:
std_data1 = zip(std_no, std_name, std_marks)

In [57]:
print('*****02 Unpack the zip object and print the tuple values*****')
for v1, v2, v3 in std_data1:
    print(v1, v2, v3)

*****02 Unpack the zip object and print the tuple values*****
10 robert 100
20 jackson 200
30 harry 300

# Exercise 9 - Unzip function

There is no unzip function for doing the reverse of what zip()

We use *zip() to unzip

In [58]:
std_name = ('robert', 'jackson', 'harry')

In [59]:
std_course = ('R', 'PYTHON', 'DATASCIENCE')

In [62]:
z1 = zip(std_name, std_course)

In [63]:
print('*****01 tuples in z1 after unpacking with *')
print(*z1)

*****01 tuples in z1 after unpacking with *
('robert', 'R') ('jackson', 'PYTHON') ('harry', 'DATASCIENCE')

In [65]:
z1 = zip(std_name, std_course)

In [66]:
result1, result2 = zip(*z1)

In [68]:
print('*****02 Check if unpacked tuples are equivalent to original tuples*****')
print(result1 == std_name)
print(result2 == std_course)

*****02 Check if unpacked tuples are equivalent to original tuples*****
True
True